#nprogress {
    .bar {
        background: md-get-palette-color(blue, A200) !important;
        background: linear-gradient(to right, md-get-palette-color(blue, A200), md-get-palette-color(blue, A200)) !important;
    }
    .peg {
        box-shadow: 0 0 10px md-get-palette-color(blue, A200), 0 0 5px md-get-palette-color(blue, A200) !important;
    }
}